# APP
APP_ENV=dev
APP_SECRET=secret
APP_PORT=3011
APP_MODE=dev
EFIPAY_CLIENT_ID_PROD=
EFIPAY_CLIENT_SECRET_PROD=
EFIPAY_PIX_KEY_RANDOM=
EFIPAY_PIX_CERT_PATH_PROD=.\src\certificates\producao-609375-ums.p12

# DATABASE
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=ums_payments